<!-- MODAL TO CROP THE IMAGE -->
<div class="modal fade" id="modalCrop" tabindex="-1" role="dialog" aria-labelledby="createGroupModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
	<div class="modal-header">
				<h5 >Crop Photo</h5>
			</div>
      <div class="modal-body img-container" style="padding:0px">
        <img src="" id="image" style="max-width: 100%;">
      </div>
      <div class="modal-footer">
        <div class="btn-group pull-left" role="group">
        <button type="button" class="btn btn-defaul close-crop" data-dismiss="modal">Nevermind</button>
        <button type="button" class="btn btn-primary js-crop-and-upload">Crop</button>
      </div>
    </div>
  </div>
</div>
</div>

