{% extends 'main/base.html' %}
{% load static %}

{% block references %}
<link type="text/css" href="{% static 'css/posts.css' %}" rel="stylesheet" />
<link type="text/css" href="{% static 'css/groups.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
	<div id="posts" class="col-12">
		<div class="box">
			<div class="groupTitle">
				<img src="{{ group.photo.url }}">
				{{ group.name }} Pending Posts
			</div>
		</div>
		<div class="box">
			<table class="table table-striped table-bordered" width="100%">
				{% for post in posts %}
					<tr id="row-{{ post.pk }}">
						<td style="width:84%"> {{ post.body }} </td>
							<input type="hidden" name="post-id" value="{{ post.pk }}" />
						<td style="width:8%"> <button onclick='approvePost("{{ post.pk }}")' type="button" value="submit" name="approve" class="submit btn btn-success">Approve</button></td>
						<td style="width:8%"> <button type="button" onclick='removePost("{{ post.pk }}")' value="submit" name="delete"  class="submit btn btn-danger">Delete</button></td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/csrftoken.js' %}"></script>
<script>

function approvePost(pk) {
	function csrfSafeMethod(method) {
		// these HTTP methods do not require CSRF protection
		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
	// send ajax
	$.ajax({
		beforeSend: function(xhr, settings) {
			if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			}
		},
		url: '{% url "group-approve-response" group.pk %}', // url where to submit the request
		type : "POST", // type of action POST || GET
		dataType : 'json', // data type
		data : {'approve': true, 'post-id': pk},
		success : function(result) {
			$('#row-' + pk).addClass('alert-success');
			$('#row-' + pk).fadeOut(700);
			updateCount();
		},
	});
};

function removePost(pk) {
	function csrfSafeMethod(method) {
		// these HTTP methods do not require CSRF protection
		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
	// send ajax
	$.ajax({
		beforeSend: function(xhr, settings) {
			if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			}
		},
		url: '{% url "group-approve-response" group.pk %}', // url where to submit the request
		type : "POST", // type of action POST || GET
		dataType : 'json', // data type
		data : {'remove': true, 'post-id': pk},
		success : function(result) {
			$('#row-' + pk).addClass('alert-danger');
			$('#row-' + pk).fadeOut(700);
			updateCount();
		},
	});
};
</script>
{% endblock %}
