{% extends 'main/base.html' %}
{% load static %}

{% block references %}
<link type="text/css" href="{% static 'css/groups.css' %}" rel="stylesheet" />
{% endblock %}

{% block title %}
- Groups
{% endblock %}

{% block content %}
	<div id="groups" class="col-12 {% if user.is_authenticated %}col-md-8{% endif %}">
		{% if user.is_authenticated %}
			{% if groups_in.count == 0 %}
				<div class="box message">
				It looks like you're not in any groups... for the best experience, try joining some of the recommended groups below or making your own!
				</div>
			{% else %}
				<div class="box box-title">
					<h1>Your Groups</h1>
				</div>
				{% for group in groups_in %}
				<div class="box" style="padding: 5px 30px;">
					<a href="{% url 'group' group.pk %}">
					<table class="groupTitle" width="100%">
						<tr>
							<td style="width: 20%">
								<img src="{{ group.photo.url }}">
							</td>
							<td>
								{{ group.name }}
							</td>
						</tr>
					</table>
					</a>
				</div>
				{% endfor %}
			{% endif %}
		{% endif %}
    {% if groups.count != 0 %}
      <div class="box box-title">
        <h1>Browse Groups</h1>
      </div>

      {% for group in groups %}
      <div class="box" style="padding: 5px 30px;">
      <a href="{% url 'group' group.pk %}">
      <table class="groupTitle" width="100%">
        <tr>
          <td style="width: 20%">
            <img src="{{ group.photo.url }}">
          </td>
          <td>
            {{ group.name }}
          </td>
        </tr>
      </table>
      </a>
    </div>

    {% endfor %}
  {% endif %}
	</div>
{% endblock %}

{% block sidebar %}
	{% if user.is_authenticated %}
		<div class="box">
			<h1> Suggested Groups </h1>
			<hr>
			{% if suggested_groups.count == 0 %}
				<div class="suggested-item">
					Groups that your friends are in will appear here.
				</div>
			{% endif %}
			{% for group in suggested_groups %}
				<div class="suggested-item">
					<table width="100%">
						<tr>
							<td width="5%">
								<a href="{% url 'group' group.pk %}">
									<img src="{{ group.photo.url }}">
								</a>
							</td>
							<td width="90%">
								<a href="{% url 'group' group.pk %}">
									{{ group.name }}
								</a>
							</td>
							<td>
								<form class="btn-group float-right" role="group" method="post" action="{% url 'join-group' group.pk %}" style="font-size: 5px; padding-right:0px;">
									{% csrf_token %}
									<button class="btn btn-outline-notifications btn-sm" type="submit">Join</button>
								</form>
							</td>
						</tr>
					</table>
				</div>
				{% if not forloop.last %}
					<hr>
				{% endif %}
			{% endfor %}
		</div>


		<div class="box">
			<h1> Quick Links </h1>
			<hr>
			<div class="suggested-item">
				<div class="groupLinks d-flex flex-column justify-content-center">
					<a href='#create-group' data-toggle="modal">
					Create a group
					</a>
					<!--
					<a href="www.youtube.com">
					Manage your groups
					</a>
					--!>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block modals %}
<!-- Create Group Modal -->
<div class="modal fade" id="create-group" tabindex="-1" role="dialog" aria-labelledby="createGroupModal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 >Create Group</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method='post'  enctype='multipart/form-data' action="{% url 'create-group' %}">{% csrf_token %}
				<div class="modal-body">
					{% if messages %}
					<div class="form-group row">
						{% for message in messages %}
						<div class="col-12 {% if message.tags %} {{ message.tags }}"{% endif %}>{{ message }}</div>
						{% endfor %}
					</div>
					{% endif %}
						<div class="form-group row">
							<label class="col-3 col-form-label" for="group-name">Group Name</label> 
							<div class="col-9">
								<input id="id_name" name="name" placeholder="My new awesome group!" type="text" class="form-control here" required="required" maxlength="128">
							</div>
						</div>
						<div class="form-group row">
							<label for="moderated" class="col-3 col-form-label">Moderated</label> 
							<div class="col-9">
								<select id="id_moderated" name="moderated" required="required" class="form-control" aria-describedby="moderatedHelpBlock">
									<option value="True">Yes</option>
									<option value="False">No</option>
								</select>
								<span id="moderatedHelpBlock" class="form-text text-muted">Moderated groups require posts to be approved by administrators. An un-moderated group cannot be converted to a moderated group.</span>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-3 col-form-label" for="photo">Photo</label> 
							<div class="col-9">
								<input onclick="this.value=null;" class="photo" id="id_photo" name="photo" type="file" class="form-control here" required="required" accept="image/jpeg, image/png, image/jpg">
							</div>
						</div>
						<input type="hidden" name="x" id="id_x">
						<input type="hidden" name="y" id="id_y">
						<input type="hidden" name="width" id="id_width">
						<input type="hidden" name="height" id="id_height">

				</div>
				<div class="modal-footer">
					<button name="submit" type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function() {

  if(window.location.href.indexOf('#create-group') != -1) {
    $('#create-group').modal('show');
  }

});
  </script>
</script>
{% endblock %}
