<div id="header" class="container-fluid">
<div class="row">
	<div id="navbar" class="container">
		<nav class="navbar navbar-expand navbar-light" style="padding:0px; height: 100%;">
			<div class="collapse navbar-collapse" id="navbarSupportedContent" >
				<ul id="navbar-left" class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link {% if page == 'home' %} active {% endif %}" href="{% url 'index' %}">
							<i class="fas fa-home fa-lg"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if page == 'groups' %} active {% endif %}" href="{% url 'groups' %}">
							<i class="fas fa-users fa-lg"></i>
						</a>
					</li>
				
					<!--
					<li class="nav-item disabled">
						<a class="nav-link {% if page == 'notifications' %} active {% endif %}" href="{% url 'notifications' %}">
							<i class="fas fa-bell fa-lg"></i>
							<span id="unreadCount" class="badge badge-pill badge-danger"></span>
						<a>
					</li>
					-->

					<li class="nav-item">
						<a class="nav-link {% if page == 'profile' %} active {% endif %}" href="{% url 'profile' %}">
							<i class="fas fa-star fa-lg"></i>

						</a>
					</li>

					<li class="nav-item d-md-none">
						<a class="nav-link" onclick="openNav()">
							<i class="fas fa-bars fa-lg"></i>
						</a>
					</li>
				</ul>
				<a class="icon" id="site-title">
						tag<span style="color:#3C7A89">@</span>mit
				</a>

					<!--
					<form class="search-group input-group input-group-sm" style="padding: 11px 0px; padding-right:5px; font-size: 17.5px; width:20%">
						<input type="text" class="form-control" placeholder="Search" aria-label="search" aria-describedby="basic-addon1">
						<div class="input-group-append">
							<button class="btn btn-outline-success my-2 my-sm-0 btn-sm" type="submit"><i class="fas fa-search fa-lg"></i></button>
						</div>
					</form>
					-->
					{% if user.is_authenticated %}
						<form id="check-for-notifications" role="form" method="post">
							<input type="hidden" class="form-control" id="update-notifications" ic-post-to="{% url 'get-notifications' %}" ic-on-beforeSend="xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');" ic-poll="5s" ic-trigger-on="load" ic-target="#notifications" ic-action="updateCount" />
						</form>
						<div class="dropdown" style="display: inline-block;">
								<button type="button" class="btn btn-outline-notifications btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 10px">
									<i style="padding-right:5px;" class="fas fa-bell fa-lg"></i><span id="unreadCount" class="badge badge-pill badge-info" style="margin-top: 2px;" ></span>
								</button>
								<div id="notifications" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="padding-top: 0; padding-bottom:0;">
								</div>
							</div>
					{% endif %}
					<span class="d-none d-md-inline">
					{% if user.is_authenticated %}
						<div id="login-area" style="white-space: nowrap">
							<div class="btn-group" role="group" style="padding-left: 1px; display:inline-block">
								<button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#update-profile">Edit profile</button>
								<a id="logout-button" class="btn btn-outline-danger btn-sm" href="{% url 'logout' %}" style="margin-left:-5px">
									Logout
								</a>
							</div>
						</div>
					{% else %}
						<div id="login-area" style="white-space: nowrap">
							<a href="{% url 'social:begin' 'facebook' %}">
								<div class="login-button">
									<div class="login-facebook-icon">f</div>
									<div class="login-facebook-text">Login with Facebook</div>
								</div>
							</a>
						</div>
					{% endif %}
				</span>
		</nav>
		</div>
	</div>
</div>
