{% extends 'main/base.html' %}
{% load static %}

{% block references %}
<link type="text/css" href="{% static 'css/posts.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
	{% if user.is_authenticated %}
	<div id="posts"  class="col-12 col-md-8">
		<div class="infinite-container">
		<div id="compose" class="box">
			<form method="post" action="{% url 'submit-post' %}">
			 {% csrf_token %}
				<div class="input-group">
					<textarea maxlength="5000" name='body' class="form-control custom-control autoExpand" id="compose-box" rows="1" placeholder="What's on your mind?" style="resize:none"></textarea>
					<button class="input-group-addon btn btn-primary" type="submit" style="border-radius: 0px">post</button>
				</div>
			</form>
		</div>
		{% include 'main/modules/posts.html' %}
		</div>
		{% if posts.has_next %}
		<span class="d-none">	<a class="infinite-more-link" href="?page={{ posts.next_page_number }}">more</a></span>
		{% endif %}
		<div class="box loading" style="display:none">
			Loading...
		</div>
	</div>

	{% else %}
	<div class="col-12">
		<div class="box message">
			Welcome to tag! Since you're not logged in, you can't see a personalized feed of anonymous posts. You can search for and look at groups without registering, but you cannot add friends or subscribe to groups. 

			To have the best tag@mit experience, please log in with Facebook.
		</div>
	</div>
		{% endif %}
{% endblock %}
		
{% block sidebar %}
	{% if user.is_authenticated %}
		<div class="box">
			<h1> Suggested Friends </h1>
			<hr>
			{% if suggested_friends|length == 0 %}
			<div class="suggested-item">
				Facebook friends on Tag will appear here.
			</div>
			{% endif %}

			{% for friend in suggested_friends %}
			<div class="suggested-item">
				<table width="100%">
					<tr>
						<td width="5%">
							<img src="{{ friend.avatar.url }}">
						</td>
						<td width="95%">
							{{ friend.first_name }} {{ friend.last_name }}
						</td>
						<td>
							<form class="float-right" role="form" style="font-size: 5px; padding-right:0px" method="post" action="{% url 'send-request' friend.pk %}">
								{% csrf_token %}
								<button class="float-right btn btn-outline-notifications btn-sm" type="submit">Send</button>
							</form>
						</td>
					</td>
				</table>
			</div>
			<hr>
			{% endfor %}
		</div>

		<div class="box">
			<h1> Suggested Groups </h1>
			
			<hr>
			{% if suggested_groups.count == 0 %}
			<div class="suggested-item">
				Groups that your friends are in will appear here.
			</div>
			{% endif %}
			{% for group in suggested_groups %}
				<div class="suggested-item">
					<table width="100%">
						<tr>
							<td width="5%">
								<img src="{{ group.photo.url }}">
							</td>
							<td width="90%">
								{{ group.name }}
							</td>
							<td>
								<form class="btn-group float-right" role="group" method="post" action="{% url 'join-group' group.pk %}" style="font-size: 5px; padding-right:0px;">
									{% csrf_token %}
									<button class="btn btn-outline-notifications btn-sm" type="submit">Join</button>
								</form>
							</td>
						</tr>
					</table>
				</div>
				<hr>

			{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block modals %}
	{% if user.is_authenticated %}
		{% include 'main/modules/tag_modal.html' %}
	{% endif %}
{% endblock %}

{% block javascript %}
	{% if user.is_authenticated and not user.is_anonymous %}
	<script src="{% static 'js/csrftoken.js' %}"></script>
	<script>
		{% include 'main/modules/like_and_tag.js' %}
	</script>
	{% endif %}
	<script>
	var infinite = new Waypoint.Infinite({
		element: $('.infinite-container')[0],
			context: $('body'),
			onBeforePageLoad: function () {
				$('.loading').show();
			},
			onAfterPageLoad: function ($items) {
				$('.loading').hide();
			}
		});
	</script>
{% endblock %}
