{% extends 'main/base.html' %}
{% load static %}

{% block references %}
<link type="text/css" href="{% static 'css/posts.css' %}" rel="stylesheet" />
<link type="text/css" href="{% static 'css/groups.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
	<div id="posts" class="col-12">
		<div class="infinite-container">
		{% include 'main/modules/posts.html' %}
		</div>
	</div>
{% endblock %}

{% block modals %}
	{% if user.is_authenticated %}
		{% include 'main/modules/tag_modal.html' %}
	{% endif %}
{% endblock %}

{% block javascript %}
{% if user.is_authenticated and not user.is_anonymous %}
<script src="{% static 'js/csrftoken.js' %}"></script>
<script>
	{% include 'main/modules/like_and_tag.js' %}
</script>
{% endif %}
{% endblock %}
