{% extends 'main/base.html' %}
{% load static %}

{% block references %}
<link type="text/css" href="{% static 'css/profile.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
	{% if user.is_authenticated %}				
		<div id="starred-posts" class="col-12">
			<div class="box message">
				<h1 style="text-align: center; margin:0px">Your Starred Posts</h1>
			</div>
			{% include 'main/modules/posts.html' %}
			{% if posts.count == 0 %}
				<div class="box message">
					Click the star icon on a post to easily view them here.
				</div>
			{% endif %}
		</div>
	{% else %}
		<div class="col-12">
			<div class="box message">
				Log in to view your starred posts!
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block javascript %}
	{% if user.is_authenticated and not user.is_anonymous %}
	<script src="{% static 'js/csrftoken.js' %}"></script>
	<script>
		{% include 'main/modules/like_and_tag.js' %}
	</script>
	{% endif %}
{% endblock %}
