{% if friends %}
	<table class="table table-striped">
		{% for friend in friends|slice:"6" %}
		</ul>
		<tr>
			<td style="min-width: 50px"><img src="{{ friend.avatar.url }}" width="100%"></td>
			<td style="width: 75%">{{ friend.first_name }} {{ friend.last_name }}</td>
			{% if not friend in tagged_friends %}
			<td style="width: 10%; text-align: right;"><button type="button" onclick="tagFriendAJAX('{{ post.pk }}', '{{ friend.pk }}')" class="btn btn-primary">Tag</button></td>
			{% else %}
			<td style="width:10%; text-align: right;"><button type="button" class="btn btn-primary" disabled>Tagged!</button></td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
{% else %}
  <div class="alert alert-warning">
    No friends match your search query. Try changing your search or adding new friends!
  </div>
{% endif %}
