{% if friends %}
	<table class="table table-striped">
		{% for friend in friends %}
		</ul>
		<tr>
			<td style="min-width: 50px"><img src="{{ friend.avatar.url }}" width="100%"></td>
			<td style="width: 75%">{{ friend.first_name }} {{ friend.last_name }}</td>
			<td style="width: 10%"><button type="button" onclick="inviteMemberAJAX('{{ friend.pk }}')" class="btn btn-primary">Invite</button>
		</tr>
		{% endfor %}
	</table>
{% else %}
  <div class="alert alert-warning">
    No friends match your search query. Try changing your search or adding new friends!
  </div>
{% endif %}
