{% if friends %}
	<table class="table table-striped">
		{% for friend in friends|slice:"6" %}
		</ul>
		<tr>
			<td style="min-width: 50px"><img src="{{ friend.avatar.url }}" width="100%"></td>
			<td style="width: 75%">{{ friend.first_name }} {{ friend.last_name }}</td>
			{% if not friend in post.tag.all %}
			<td style="width: 10%"><button type="button" onclick="tagFriendAJAX('{{ post.pk }}', '{{ friend.pk }}')" class="btn btn-primary">Tag</button></td>
			{% else %}
			<td><button type="button" class="btn btn-danger">Already Tagged!</button></td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
{% endif %}
