{% extends 'main/base.html' %}
{% load static %}
{% load my_tags %}

{% block references %}
<link type="text/css" href="{% static 'css/otherProfile.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="userProfile" class="col-12">
	<div class="box">
		<div id="userHeader" class="d-flex justify-content-center">
			<a id="userPicture">
			<img src="{{ userProfile.avatar.url }}">
			</a>
			<div id="userName" class="resize">{{ userProfile.first_name }} {{ userProfile.last_name }}</div>
		</div>
		{% if user.is_authenticated and userProfile != user %}
			{% if is_friend %}
				<hr>
				<div class="d-flex justify-content-center">
					<form method="post" action="{% url 'remove-friend' userProfile.pk %}">
						{% csrf_token %}
						<button class="btn btn-danger" type="submit">Remove friend</button>
					</form>

				</div>
			{% elif received_request %} 
				<hr>
				<div class="d-flex flex-column align-items-center">
					 {{ userProfile.first_name }} wants to be friends! 
					 <br />
					<form method="post" action="{% url 'respond-request' userProfile.pk %}">
						{% csrf_token %}
						<button class="btn btn-success" name="accept" type="submit">Accept</button>
						<button class="btn btn-danger" name="decline" type="submit">Decline</button>
					</form>

				</div>
			{% elif sent_request %} 
				<hr>
				<div class="d-flex justify-content-center">
					You sent {{ userProfile.first_name }} a friend request.
				</div>
			{% else %} 
				<hr>
				<div class="d-flex justify-content-center">
					<form method="post" action="{% url 'send-request' userProfile.pk %}">
						{% csrf_token %}
						<button class="btn btn-primary" type="submit">Send friend request</button>
					</form>
				</div>
			{% endif %}
		{% endif %}
		<hr>
		<span id="userBio"> Bio: {{ userProfile.bio }}</span>
		<hr>
		<span id="userSchool">School: {{ userProfile.school }}</span>
		<hr>
		{% if userProfileFriends.count > 0 %}
			Friends ({{ userProfileFriends.count }} total)
			<div class="d-flex flex-wrap justify-content-center">
			{% for friend in userProfileFriends|slice:"6" %}
				<a href="{% url 'user-profile' friend.pk %}">
					<div class="d-flex flex-column align-items-center friend-container">
						<img src="{{ friend.avatar.url }}" style="width:120px; margin:5px;">
						{{ friend.first_name }} {{friend.last_name }}
					</div>
				</a>
			{% endfor %}
			</div>
			{% if userProfileFriends.count > 6 %}
			<div class="d-flex justify-content-center">
				<a href="#friends-modal" data-toggle="modal">view all</a>
			</div>
			{% endif %}
		{% else %}
		{{ userProfile.first_name }} doesn't have any friends yet.
		{% endif %}
	</div>
</div>
{% endblock %}

{% block modals %}
<!-- Friends Modal -->
<div class="modal fade" id="friends-modal" tabindex="-1" role="dialog" aria-labelledby="friendsModal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 >{{ user.first_name}}'s friends</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="d-flex flex-wrap justify-content-center">
					{% for friend in userProfileFriends %}
						<a href="{% url 'user-profile' friend.pk %}">
							<div class="d-flex flex-column align-items-center friend-container">
								<img src="{{ friend.avatar.url }}" style="width:120px; margin:5px;">
								{{ friend.first_name }} {{friend.last_name }}
							</div>
						</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

