html, body {
	font-family: 'Montserrat', sans-serif;
	background-color:#E6ECF0;
	height:100%;
	overflow:auto;
}


img {
	border-radius: 50%;
}


#main {
	margin-top:42px;
}

#main>*>* {
	padding: 0px;
}

#header {
	background-color: #FFFFFF;
	height:40px;
	box-shadow: 0px 1px 2px lightgrey;
	position: absolute;
	top:0px;
	z-index: 9999;
}


#notifications {
	width:20vw;
}


.dropdown-item {
	white-space: normal
}

.dropdown-menu {
  
}


#navbar {
	height:40px;
	
}


.nav-link { 
	text-align: center;
	width:5em;
	padding:8px 0;
	min-height: 100%;
 }


 .nav-link:hover, .nav-link.active{
 	border-bottom: 2px solid;
	border-bottom-color: #3C7A89;
 }


 #navbarSupportedContent{
 	height: 100%;
 }


 a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none
}


.box {
	font-size:14px;
	background-color: white;
	margin:10px;
	padding:10px;
	border-radius: 2px;
	box-shadow: 0px 1px 2px lightgrey, 0px -1px 2px lightgrey;
}

.box-header {
	font-style: italic;
	font-size: 10px;
}

.message {
	font-size:14px;
}


#compose-box {
	overflow:hidden;
}


.tag {
	color:#3C7A89;
}


hr {
	margin: 10px 0 10px 0;
}

#sidebar {
	position: sticky;
	top:52px;
	padding:0px;
}


.box h1 {
	font-size: 16px;
	text-align: center;
	margin-bottom: 0px;
}


.suggested-item img {
	width:30px;
	height:30px;
	margin-right:10px;
}

.icon {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    display: block;
    pointer-events: none;
}


.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none !important;
}

@media (max-width: 1200px) {
    .container {
        max-width: 97.5%; /*this gives it the precise width to match the Bootstrap defaults*/
    }
}

@media (max-width: 767px) {
    .icon {
        display:none; /* Hide icon on small screens */
    }

    .search-group {
    	display:none;
    }
    .nav-link, #navbar-left { 
    width:100% !important
	}
	.nav-item { 
		width:33%;
	}

	#notifications {
		width:70vw;
	}
}
 
.badge-danger {
	padding-bottom: 4px;
	border-radius: 10px;
	margin-top:-10px;
}

.suggested-item a {
	color:inherit;
	text-decoration: none;
}

.suggested-item a:hover {
	color:black;
	text-decoration: none;
}

.login-button {
  display: inline-block;
  cursor: pointer;
  max-height: 35px;
}
.login-button:hover {
  background: rgba(59, 89, 152, .1);
}

.login-facebook-icon {
  background-color: #3b5998;
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  height: 35px;
  width: 40px;   
  float: left;
}

.login-facebook-text {
  color: #3b5998;
  font-family: HelveticaNeueW01-55Roma, HelveticaNeueW02-55Roma, HelveticaNeueW10-55Roma, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  width: 229px;
  height: 35px;
  border: 1px solid #3b5998;
}

.form-control:focus {
	box-shadow: none!important

}

.box-title h1 {
	font-size: 24px;
	text-align: center;
	padding-bottom: 0px;
}

/*
.table {
	display: table;
}

.table>* {
	display: table-row;
	padding: 5px;
}

.table>*>* {
	display: table-cell;
	padding: 5px;
	border: 0.1px solid gray;
}
*/
